@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .-rotate-y-12 {
    transform: rotateY(-12deg);
  }
  .-rotate-y-6 {
    transform: rotateY(-6deg);
  }
  .rotate-y-6 {
    transform: rotateY(6deg);
  }
  .rotate-y-12 {
    transform: rotateY(12deg);
  }
  .rotate-y-0 {
    transform: rotateY(0deg);
  }
}
