@import "tailwindcss";

@theme {
  /* FONT HEADING */
  --font-heading: "Playfair Display", serif;

  /* FONT BODY */
  --font-sans: "Lora", serif;

  /* FONT ART */
  --font-art: "Allura", cursive;

  /* FONT RISCHE (FONT RIÊNG) */
  --font-rische: "Rische", serif;

  --color-primary: #3d3832;
  --color-secondary: #fefdf4;
  --color-tertiary: #3a332b;
  --color-CTA: #cfb26e;
}

@font-face {
  font-family: "Rische";
  src: url("/fonts/rische-demo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Set default font-size = 14px (Mobile-first) */
:root {
  font-size: 14px;
}

/* Desktop >= 1024px */
@media (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

body {
  font-family: var(--font-sans);
}

/* padding left-right 40px padding top-bottom 20px */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 20px;
}
